*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img{
    width: 100%;
}

/* MENU */

.menuFixo{
    background-color: #64B277;
}

a{
    color: black;
    text-decoration: none;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

#header{
    width: 100%;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    /* border-bottom: 1px solid #407BFF; */
    /* background: #407BFF; */
    background: rgb(64,123,255);
    background: linear-gradient(90deg, rgba(64,123,255,1) 54%, rgba(159,189,255,1) 100%);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem; 
}

#menu a{
    display: block;
    padding: .5rem;
    color: white;
}

#btn-mobile{
    display: none;
}

/* MENU */

/* BANNER */

.banner-principal{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.banner-texto{
    flex: 1 1 500px;
}

.banner-imagem{
    flex: 1 1 500px;
}

.banner-imagem img{
    width: 500px;
}


.banner-texto h1{
    font-size: 2rem;
    color: #141414;
    margin-bottom: 10px;
    line-height: 1.1;
}

.banner-texto p {
    font-size: 1.25rem;
    line-height: 1.1;
}

.banner-botao{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* background: #407BFF; */
    background: linear-gradient(90deg, rgba(64,123,255,1) 54%, rgba(159,189,255,1) 100%);
    margin-top: 10px;
    width: 250px;
    color: white;
    font-weight: 700;
}

/* BANNER */


@media (max-width: 1000px){
    .banner-principal{
        padding: 150px 20px 0px 20px;
        text-align: center;
    }

    .banner-texto h1{
        font-size: 1.5rem;
    }

    .banner-texto p {
        font-size: 1rem;
    }

    .banner-imagem img {
        width: 350px;
    }

}


@media (max-width: 600px){

    #header{
        background-color: #64B277;
        z-index: 1000;

    }

    #menu{
        /* display: none; */
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        z-index: 1000;
        height: 0;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        background-color: #64B277;

    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;

    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: black;
    }

    #hambuguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: black;
    }

    #hambuguer::after,  #hambuguer::before {
        content: '';
        display: block;
        background: currentColor;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        transition: 1s;
        position: relative;
    }

    #nav.active #hambuguer{
        border-top: transparent;
    }

    #nav.active #hambuguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hambuguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .banner-imagem img {
        display: none;
    }

  
}
 